@{
    ViewBag.Title = "Home Page";
}

<div class="moto" ">
<div class="row">
    <div class="col-sm-12 col-md-6" >
        <img src="images/randomguy.jpg" width="100% ">
    </div>
    <div class="col-sm-8 col-md-3">

        
        <div class="text">
            <p>Explore</p>
            <p>
                <span class="word wisteria">Fashion !</span>
                <span class="word belize">Lifestyle !</span>
                <span class="word pomegranate">Fancy !</span>
                <span class="word green">Tradition!</span>
                <span class="word midnight">World !</span>
            </p>
            <script src="~/Scripts/Word.js"></script>
        </div>
    </div>
</div>
<div class="landing_Page">
    <div class="raw">
        <div class="col-6 col-md-4">
            <button id="all" class="all"> All </button>
        </div>
        <div class="col-6 col-md-4">
            <button id="fashion" class="fashion"> Fashion </button>
        </div>
        <div class="col-6 col-md-4">
            <button id="lifestyle" class="lifestyle"> Lifestyle </button>
        </div>
    </div>
</div>